In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import statistics as st 

# Load the data
df = sns.load_dataset('iris')
print(df.shape)
print(df.info())

(150, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

In [4]:
df.mean()

/tmp/ipykernel_183228/3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

In [7]:
df.loc[:,'sepal_length'].mean()

5.843333333333334

In [9]:
df.loc[:,'sepal_length'].median()

5.8

In [11]:
df.loc[:,'sepal_length'].mode()

0    5.0
Name: sepal_length, dtype: float64

In [13]:
df.loc[:,'sepal_length'].std()

0.828066127977863

In [15]:
df.loc[:,'sepal_length'].var()

0.6856935123042507

In [18]:
from scipy.stats import iqr
iqr(df['sepal_length'])

1.3000000000000007

In [20]:
df.skew()

/tmp/ipykernel_183228/1665899112.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.skew()

sepal_length    0.314911
sepal_width     0.318966
petal_length   -0.274884
petal_width    -0.102967
dtype: float64

In [21]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000